<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/blog/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/blog/css/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/blog/css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="/blog/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/blog/css/syntax.css" type="text/css" media="screen, projection">
  </head>

  <body>
    <div class="container prepend-top">
      <div class="span-18">
        {{ content }}
      </div>

      <div class="span-5 sidebar last">
        <h3><a href="/blog" class="backlink">Joshua Lindsey</a></h3>
        <a href="http://www.joshualindsey.net" class="quiet">Website</a><br class="clear">
        <a href="https://github.com/jlindsey" class="quiet">GitHub</a><br class="clear">
        <a href="https://twitter.com/lesmothian" class="quiet">Twitter</a><br class="clear">
        <a href="http://www.linkedin.com/pub/josh-lindsey/12/675/33" class="quiet">LinkedIn</a><br class="clear">
        <a href="http://stackoverflow.com/users/155094/josh-lindsey" class="quiet">StackOverflow</a><br class="clear">
      </div>
    </div>
  </body>
</html>
